.search {
    -webkit-appearance: none;
    border: none;
    width: 310px;
    outline: none;
    padding: 10px 30px;
    text-align: center;
    border-radius: 25px;
    line-height: 30px;
    margin: 30px auto;
}