.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 40, 49, 0.6);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1);
}

.texts {
    background-color: rgba(34, 40, 49, 0.8);
    padding: 3%;
    height: 95%;
    line-height: 1.4;
    border-radius: 0 0 25px 25px;
}

img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

@media only screen and (min-width: 570px) {
    .card-container:hover {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 900px) {
    .card-container:hover {
        transform: scale(1.05);
    }
}

@media only screen and (min-width: 1400px) {
    .card-container:hover {
        transform: scale(1.05);
    }
}