.card-list {
    width: 80vw;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

@media only screen and (min-width: 570px) {
    .card-list {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 1%;
    }
}

@media only screen and (min-width: 900px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto 1%;
        width: 95vw;
    }
}

@media only screen and (min-width: 1400px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto 1%;
        width: 95vw;
    }
}